/*
 * 1. posicionamiento
 * 2. Modelo de caja
 * 3. Tipografia
 * 4. Visuales (border, shadow)
 * 5. Otros
 * */
:root {
  /* Variables  */
  --font-sans: 'DM sans', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --primary-color: #F7931A;
  --bitcon-color: #F7931A;
  --secondary-color: #1A9AF7;
  --soft-secondary-color: #E7F5FF;
  --soft-orange: #FFE9D5;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-sans);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*
 * Estilos Generales
 * */

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Utilities */

.Wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Estilso del Hader */

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  background-image: linear-gradient(207.8deg, var(--black) 16.69%, var(--primary-color) 100%);
}

.Header__img{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: block;
}

.Header__containerCopy {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 216px;
}

.Header__title {
  font-weight: bold;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: var(--just-white);
  margin-bottom: 24px;
}

.Header__description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
  margin-bottom: 50px;
}

.Header__button {
  border-radius: 4px;
  color: var(--warm-black);
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, .16);
  padding: 1.5rem 1rem;
  font-weight: 700;
  border: none;
  font-size: 1.4rem;
  line-height: 1.823rem;
  position: absolute;
  width: 229px;
  height: 48px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.Header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/icon-arrow-button.svg');
}

/*
 * Estilos del Main*/

.Main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.Main-exchange-container {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main-exchange__img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url('../assets/imgs/Bitcoin.svg') center / cover no-repeat;
}

.Main-exchange__copy {
  text-align: center;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.Main-exchange__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
  margin-bottom: 24px;
}

.Main-exchange__description {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
}

/*
 * Estilos de la tabla*/

.Main-tables-container {
  width: 200px;
  margin: 0 auto;
}

.Table-title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  padding-left: 1rem;
}

.Table-container {
  background-color: var(--just-white);
  border-radius: 1em;
  display: grid;
  width: 200px;
  height: 160px;
  grid-template-columns: 1fr 1fr .5fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 1rem;
}

.Table-name,
.Table-price {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #B5B0AC;
  margin: 0;
}

.Table-name {
  justify-content: flex-start;
}

.Table-price,
.Table-container-img {
  justify-content:center;
}

.Table-price:before {
  content: '$';
  margin-right: .5em;
}

.Table-name,
.Table-price,
.Table-container-img {
  display: flex;
  align-items: center;
}

.Table-icon {
  width: 11px;
}


.Table-description {
  margin: 0 auto;
  background-color: var(--soft-orange);
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  padding: .8rem;
  border-radius: .8rem;
}

.Table-description span {
  font-weight: 700;
}

/* Stilos de Features */

.Feature {
  background-color: var(--warm-black);
  color: var(--just-white);
  text-align: center;
  padding: 64px 16px;
}

.Feature__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.Feature__description {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}

.Feature__card {
  padding: 16px;
  background-color: var(--black);
  text-align: left;
  border-radius: 4px;
  margin-bottom: 16px;
}

.Feature__card-img {
  width: 20px;
}

.Feature__card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Feature__card-description {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Estilso Planes */

.Planes {
  background-color: #E5E5E5;
  color: var(_--warm-black);
  text-align: center;
  padding: 64px 16px;
}

.Planes__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px ;
}

.Planes__description {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 34px;
}

.Planes__card {
  padding: 16px;
  width: 180px;
  background-color: var(--just-white);
  border-radius: 8px;
  margin: 0 auto 64px auto;
  position: relative;
  text-align: center;
  box-shadow: 0px 4px 8px 0px #59491E29;
}

.Planes__button-secondary {
  background-color: var(--primary-color);
  color: var(--just-white);
  border-radius: 8px;
  padding: 8px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  border: none;
  position: absolute;
  transform: translate(-50%, -100%);
}

.Planes__card-title {
  font-weight: 500;
  font-size: 14px;
  margin-top: 21px;
  margin-bottom: 18px;
}

.Planes__card-price {
  font-weight: 700;
  font-size: 52px;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-bottom: 16px;
  position: relative;
}

.Planes__card-price:before {
  content: '$';
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  transform: translate(-150%, 50%);
}

.Planes__card-description {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
}

.Planes__button-primary {
  background-color: var(--just-white);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  margin: 0 auto 24px;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.Planes__button-primary--icon {
  width: 20px;
  margin-left: 5px;
}

/* Estilos Footer */

.Footer {
  color: var(--just-white);
  background-color: var(--primary-color);
  display: flex;
  padding: 40px 65px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Footer__nav-link {
  color: var(--just-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.Copy__img {
  width: 60px;
}